@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Post free ads on India's leading cross-category classifieds platform. Buy or sell apartments , used cars, bikes, find jobs, home services, repair electronic !</p>
