@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>QUICKER</h1>
    <p class="lead">Post free ads on India's leading cross-category classifieds platform. Buy or sell apartments , used cars, bikes, find jobs, home services, repair electronic !</p>
    <p><a href="http://www.quikr.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Certified Mobiles</h2>
        <p>
            Buy Certified Mobiles!!
        </p>
        <p><a class="btn btn-primary" href="http://www.quikr.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cars</h2>
        <p>Purchase Car in good quality </p>
        <p><a class="btn btn-primary" href="http://www.quikr.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fashion</h2>
        <p>Buy best clothes! </p>
        <p><a class="btn btn-primary" href="http://www.quikr.com/">Learn more &raquo;</a></p>
    </div>
</div>