@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Xor Bank</h1>
    <p class="lead">Xor Bank offers internet banking services, personal banking services including accounts, cards, loans, investment options to personals, corporates and NRIs.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Special Features</h2>
        <p>
            Axis Bank offers unique features on Car Loans. Now you can buy your favourite car and avail exclusive benefits only with Axis Bank. Get up to 100% on-road funding on your new car.
        </p>
        <p><a class="btn btn-primary" href="">Learn more &raquo;</a></p>
    </div>
  
</div>